@import '../../themes/themes';
.Vertice {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  input {
    display: -webkit-box;
    text-align: center;
    width: 80%;
    border: none;
    background: transparent;
    outline-style: none;
    text-overflow: ellipsis;
    &:focus {
      background: white;
    }
  }

  &.Vertice-Sample {
      position: initial;
  }

  &.drop-active {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      transition: box-shadow .4s;
  }

  // create isFinal style
  &.isFinal:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #00abd7;
    border-radius: 50%;
    padding: 2px;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
  }

  &.isFinal.drop-active:before {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: box-shadow .4s;
  }

  // create isInitial style
  &.isInitial:after {
    content: '▲';
    display: block;
    margin-left: -100px;
    margin-top: -8px;
    font-size: 60px;
    color: #00abd7;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &.isInitial.drop-active:after {
    text-shadow: 0 0px 20px rgba(0,0,0,0.30);
    transition: text-shadow .4s;
  }
}
