@import '../../themes/themes';
.GraphContainer {
  background-color: lightcyan;
  -webkit-box-flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  .container {
    height: 100%;
    width: 100%;
    transform-origin: left top 0px;
    -webkit-transform-origin: left top;
    .content {
      background-color: white;
      width: 1000px;
      height: 1500px;
    }
  }
}
