@import '../../themes/themes';

.GraphContainer {
  background-color: lightcyan;
  -webkit-box-flex: 1;
  overflow: hidden;

  .content {
    background-color: white;
    width: 800px;
    height: 400px;
  }
}
